.navbar{
  background-color: #3c4245!important;
}

.nav-link{
  color: #dfcdc3!important;
}

.navbar-brand{
  color: #719192!important;
}

.logout-btn{
  background-color: #719192 ;
  float: right;
  margin-left: 15px;
}