.checkbox-inline{
  margin-right: 5px;
}

#minage, #maxage, #age{
  width: 100px;
  display: inline-block;
}

form{
  min-height: 100%;
  padding-bottom: 100px;
  margin-left: 400px;
  margin-right: 400px;
}