.card{

  float: left;
  width: 200px;
  height: 400px;
  margin: 5px;



}

.mainDiv{
margin-bottom: 200px;
}
.card-img-top{
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.chat{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about{
  height: 110px;
  overflow: scroll;
}

